body{
    padding:0;
    margin:0;
}
.main-container{
    padding: 0;
    margin:0;
}
nav{
    background-color: rgb(120, 176, 178);
    box-shadow: 4px 4px 4px rgb(120, 176, 178) ;
   padding-top: 1px;
    padding-bottom:1px;
}
.title{
    font-size: 3rem;
    color:rgb(33, 33, 240);
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 5px;
    margin-left: 2rem;



}
.time-display{
    border:1px solid;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    color:blue;
}

.am-pm{
    font-size:4rem;
    color: black;
}

.secondary-container{
    border:1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 50% 50%; */


}
.secondary-container div{
    border:1px solid;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2.5rem;

}