body,
html {
  padding: 0;
  margin: 0;
  background-color: rgb(100, 145, 146);
  font-family: sans-serif;
}
.main-container {
  color: white;
  background-color: rgb(100, 145, 146);
}

nav {
  background-color: rgb(100, 145, 146);
  box-shadow: 4px 4px 4px rgb(120, 176, 178);
  padding-top: 6px;
  padding-bottom: 6px;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 20px;
  margin-left: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}
.time-display {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  background-color: rgb(6, 18, 39);
}

.am-pm {
  font-size: 4rem;
  vertical-align: middle;
  margin-left: 12px;
}

.secondary-container {
  margin-top: 30px;
  justify-content: center;
  display: flex;
  gap: 45px;
  background-color: rgb(100, 145, 146);
}
.secondary-container div {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  width: 350px;
  border-radius: 16px;
  background-color: #0e1f3d;
  box-shadow: 4px 4px 4px #0e1f3d;
}

a {
  text-decoration: none;
  color: white;
}
a:hover{
    color:black;
}
.colon {
  font-weight: bold;
  margin-left: 12px;
  margin-right: 12px;
}

@media (width <900px) {
  .title {
    font-size: 2.5rem;
    letter-spacing: 10px;
      margin-left: 1rem;
  }
  .time-display {
      height: 30vh;
    font-size: 3rem;
  }
  .am-pm {
    font-size: 1.2rem;
  }
  .secondary-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .secondary-container div {
    height: 100px;
    font-size: 1.5rem;
    border-radius: 0%;
    width: 100%;
  }
}
