body,html{
    padding:0;
    margin:0;
    /* background-color: #9CA3AF; */
        background-color: rgb(100, 145, 146);
            font-family: sans-serif;


}
.main-container{
    /* background-color: rgb(41, 35, 35); */
    color:white;
    /* background-color: #9CA3AF; */
        background-color: rgb(100, 145, 146);

}

nav{
    background-color: rgb(100, 145, 146);
    box-shadow: 4px 4px 4px rgb(120, 176, 178) ;
  padding-top: 6px;
  padding-bottom: 6px;   
}
.title{
    font-size: 3rem;
    /* color:rgb(33, 33, 240); */
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 20px;
    margin-left: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
    /* text-align: center; */
}
.time-display{
    /* border:1px solid; */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
    /* color:blue; */
    background-color: rgb(6, 18, 39);
}

.am-pm{
    font-size:4rem;
    /* color: black; */
    vertical-align: middle;
    margin-left: 12px;
}

.secondary-container{

 margin-top: 30px;
justify-content: center; display: flex;
gap:45px;
/* background-color: #9CA3AF; */
    background-color: rgb(100, 145, 146);

}
.secondary-container div{
    border:1px solid black;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2.5rem;
    width:350px;
    border-radius: 8%;
    background-color: #0E1F3D;
    /* color:white; */
    box-shadow: 4px 4px 4px #0E1F3D;

    /* text-transform: uppercase; */

    
}


a{
    text-decoration: none;
    color:white;
}

.colon{
    font-weight: bold;
    margin-left: 12px;
    margin-right: 12px;
    
}