body,
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.main-container {
  color: white;
  background-color: rgb(6, 18, 39);
  height: 100vh;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 20px;
  margin-left: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}
nav {
  background-color: rgb(100, 145, 146);
  box-shadow: 4px 4px 4px rgb(120, 176, 178);
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  align-items: center;
}
.buttons button {
  font-size: 1.3rem;
  margin-right: 6px;
  font-weight: bold;
  padding: 4px;
  box-shadow: 4px 4px 4px rgb(6, 18, 39);

}
.buttons button a {
  text-decoration: none;
  color: black;
}
.buttons button:hover{
    background-color: rgb(6, 18, 39);
    color:white;
}
.buttons button a:hover{
  color: white;
}
.alarm-title {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  width: 50%;
  padding: 2rem;
}
.hour {
  width: 35%;
  font-size: larger;
}
.minute {
  width: 35%;
  font-size: larger;
}
.ampm {
  width: 28.5%;
  font-size: larger;
}
.save {
  width: 100%;
  font-size: larger;
  margin-top: 10px;
  cursor: pointer;
}
.save:hover{
    background-color: rgb(100, 145, 146);
    color:white;
}
.alarms {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  width: 50%;
  margin-top: 10px;
  padding: 2rem;
}
.alarms h2 {
  letter-spacing: 5px;
}
.alarms button {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}

@media (width <900px) {
  .title {
    font-size: 2.5rem;
    letter-spacing: 10px;
    margin-left: 0rem;
    text-align: center;
  }
  .alarm-title {
    font-size: 1.5rem;
  }
  .container {
    width: 90%;
    padding: 1rem;
  }
  .hour {
    width: 100%;
    font-size: large;
    margin-bottom: 5px;
  }
  .minute {
    width: 100%;
    font-size: large;
    margin-bottom: 5px;
  }
  .ampm {
    width: 100%;
    font-size: large;
  }
  .alarms {
    width: 90%;
    padding: 1rem;
  }
  .alarms button {
    padding: 4px;
    font-size: 14px;
  }
  nav {
    display: block;
  }
  .buttons {
    margin-top: 4px;
    justify-content: center;
  }
  .buttons button {
    font-size: 14px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px;
  }
}
