body,html{
    padding:0;
    margin:0;
    /* background-color: #9CA3AF; */
         font-family: sans-serif;
}
.main-container{
    /* background-color: rgb(41, 35, 35); */
    color:white;
    /* background-color: #9CA3AF; */
        background-color: rgb(6, 18, 39);
    height: 100vh;
}
.title{
    font-size: 3rem;
    /* color:rgb(33, 33, 240); */
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 20px;
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    /* text-align: center; */
}

nav{
    background-color: rgb(100, 145, 146);
    box-shadow: 4px 4px 4px rgb(120, 176, 178) ;
  padding-top: 6px;
  padding-bottom: 6px;   
  display: flex;
  justify-content: space-between;
}


.buttons{
    /* vertical-align: middle; */
    /* border:1px solid black; */
    display: flex;
    align-items: center;

}
.buttons button {
    font-size: 1.3rem;
    /* margin-left: 4px; */
    margin-right: 6px;
    font-weight: bold;
    /* border-radius: 100px; */
    padding:4px;
    box-shadow: 4px 4px 4px rgb(6, 18, 39) ;
   
}
.buttons button a {
    text-decoration: none;
        color:black;

}

.alarm-title{
     font-size: 3rem;
   /* margin-left: 3rem;
    */
    text-align: center;
    letter-spacing: 5px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    width: 50%;
    padding: 2rem;
    
  
}
.hour{
    width:35%;
    font-size: larger;
    
}
.minute{
    width: 35%;
    font-size: larger;

}
.ampm{
    width:28.5%;
       /* margin-left: auto; */
       font-size: larger;
}
.save{
    width: 100%;
    font-size: larger;
    margin-top: 10px;
}

.alarms{
    margin-left: auto;
    margin-right: auto;
    border:1px solid white;
    width:50%;
    margin-top: 10px;
        padding: 2rem;

}
.alarms h2{
    letter-spacing: 5px;
}

.alarms button{
    padding:5px;
    font-size: 18px;
    font-weight: bold;
}