body,
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.main-container {
  color: white;
  background-color: rgb(6, 18, 39);
  height: 100vh;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 20px;
  margin-left: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}
nav {
  background-color: rgb(100, 145, 146);
  box-shadow: 4px 4px 4px rgb(120, 176, 178);
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
}
.buttons {
  display: flex;
  align-items: center;
}
.buttons button {
  font-size: 1.3rem;
  margin-right: 6px;
  font-weight: bold;
  padding: 4px;
  box-shadow: 4px 4px 4px rgb(6, 18, 39);
}
.buttons button a {
  text-decoration: none;
  color: black;
}
.stopWatch-title {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
}
.container {
  width: 50%;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  font-size: 5rem;
  padding: 2rem;
  margin-bottom: 10px;
}
.buttons-stopwatch {
  width: 50%;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}
.buttons-stopwatch button {
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
}
@media (width <900px) {
  .title {
    font-size: 2.5rem;
    letter-spacing: 10px;
    margin-left: 0rem;
    text-align: center;
  }
  nav {
    display: block;
  }
  .buttons {
    margin-top: 4px;
    justify-content: center;
  }
  .buttons button {
    font-size: 14px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px;
  }
 .stopWatch-title {
  font-size: 2rem;
}
.container {
  width: 90%;
  font-size: 4rem;
  padding: 1rem;
}
.buttons-stopwatch {
  width: 90%;
  padding: 1rem;
}

}