body,html{
    padding:0;
    margin:0;
    /* background-color: #9CA3AF; */
}
.main-container{
    /* background-color: rgb(41, 35, 35); */
    color:white;
    /* background-color: #9CA3AF; */
        background-color: rgb(6, 18, 39);
    height: 100vh;
}

nav{
    background-color: rgb(100, 145, 146);
    box-shadow: 4px 4px 4px rgb(120, 176, 178) ;
  padding-top: 6px;
  padding-bottom: 6px;   
}
.title{
    font-size: 3rem;
    /* color:rgb(33, 33, 240); */
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 20px;
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    /* text-align: center; */
}
.world-title{
    font-size: 3rem;
   /* margin-left: 3rem;
    */
    text-align: center;
    letter-spacing: 5px;
}
.container{
    border:1px solid;
    width:50%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 50px;
}
.selectOptions{
    width:85%;
        font-size: 2rem;

    
}

.getTime{
    width:15%;
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
}

.result-div{
    border:1px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: rgb(100, 145, 146);
   
}

.result-heading{
    font-size:2rem;
    letter-spacing: 5px;
    color: black;
     margin-left: 5px;
}

.result p{
    font-size: 1.6rem;
    color: black;
    margin-left: 5px;
}