body,
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.main-container {
  color: white;
  background-color: rgb(6, 18, 39);
  height: 100vh;
}

nav {
  background-color: rgb(100, 145, 146);
  box-shadow: 4px 4px 4px rgb(120, 176, 178);
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-left: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}
.world-title {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
}
.container {
  border: 1px solid;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 50px;
}
.selectOptions {
  width: 85%;
  font-size: 1.5rem;
}
.getTime {
  width: 15%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.result-div {
  border: 1px solid;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: rgb(100, 145, 146);
}
.result-heading {
  font-size: 2rem;
  letter-spacing: 5px;
  color: black;
  margin-left: 5px;
}
.result p {
  font-size: 1.6rem;
  color: black;
  margin-left: 5px;
}
.buttons {
  display: flex;
  align-items: center;
}
.buttons button {
  font-size: 1.3rem;
  margin-right: 6px;
  font-weight: bold;
  padding: 4px;
  box-shadow: 4px 4px 4px rgb(6, 18, 39);
}
.buttons button:hover{
    background-color: rgb(6, 18, 39);
    color:white;
}
.buttons button a {
  text-decoration: none;
  color: black;
}
.buttons button a:hover{
  color: white;
}

@media (width <900px) {
  .title {
    font-size: 2.5rem;
    letter-spacing: 10px;
    margin-left: 0rem;
    text-align: center;
  }
  nav {
    display: block;
  }
  .buttons {
    margin-top: 4px;
    justify-content: center;
  }
  .buttons button {
    font-size: 14px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px;
  }
  .world-title {
  font-size: 2rem;
}
.container {
  width: 90%;
}
.selectOptions {
  width: 70%;
  font-size: 1rem;
}
.getTime {
  width: 30%;
  font-size: 1rem;
}
.result-div {
  width: 90%;
}

}