body,html{
    padding:0;
    margin:0;
    /* background-color: #9CA3AF; */
       font-family: sans-serif;
}
.main-container{
    /* background-color: rgb(41, 35, 35); */
    color:white;
    /* background-color: #9CA3AF; */
        background-color: rgb(6, 18, 39);
    height: 100vh;
}
.title{
    font-size: 3rem;
    /* color:rgb(33, 33, 240); */
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 20px;
    margin-left: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    /* text-align: center; */
}

nav{
    background-color: rgb(100, 145, 146);
    box-shadow: 4px 4px 4px rgb(120, 176, 178) ;
  padding-top: 6px;
  padding-bottom: 6px;   
  display: flex;
  justify-content: space-between;
}


.buttons{
    /* vertical-align: middle; */
    /* border:1px solid black; */
    display: flex;
    align-items: center;

}
.buttons button {
    font-size: 1.3rem;
    /* margin-left: 4px; */
    margin-right: 6px;
    font-weight: bold;
    /* border-radius: 100px; */
    padding:4px;
    box-shadow: 4px 4px 4px rgb(6, 18, 39) ;
   
}
.buttons button a {
    text-decoration: none;
        color:black;

}

.timer-title{
     font-size: 3rem;
   /* margin-left: 3rem;
    */
    text-align: center;
    letter-spacing: 5px;
}
.container{
    width:50%;
    border:1px solid white;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
    display: flex;
    justify-content: center;
}
.hour{
font-size: larger;
margin-right: 10px;
}
.minute{
font-size: larger;
margin-right: 10px;
}
.second{
font-size: larger;
}

.buttons-timer{
    width:50%;
    border:1px solid white;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
        display: flex;
        flex-wrap: wrap;
    /* justify-content: center; */
  
}
.buttons-timer button{
    width: 50%;
    font-size: 1.5rem;
}
.timer-display{
    width:50%;
    border:1px solid white;
    margin-left: auto;
    margin-right: auto;
    padding:1rem;
    display: flex;
    justify-content: space-evenly;
    font-size: 5rem;
}